.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  background-color: rgb(95, 93, 93);
  font-family: 'Poppins', sans-serif;
}

.options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option {
  margin: 0 2px;
  padding: 10px 0;
}

.options input,
span button {
  margin: 0 2px;
  padding: 10px 0;
}

.options input {
  width: 40%;
  outline: none;
  padding-left: 1em;
}

.option button {
  font-size: 15px;
  margin: 0 2px;
  padding: 11px 22px;
  color: #fff;
  border: 0;
  cursor: pointer;
  background: #d82a4e;;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  outline: none;
}

/*=====  End of Choices  ======*/
form {
  width: 50%;
  margin-bottom: 0;
}

form .inner-form {
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
}

form .inner-form .input-field {
  height: 3rem;
  width: 100%;
}

form .inner-form .input-field input {
  height: 100%;
  background: #f2f2f2;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 16px;
  color: #555;
}

form .inner-form .input-field input.placeholder {
  color: #888;
  font-size: 16px;
}


form .inner-form .input-field.third-wrap {
  width: 30%;
  font-size: 1em;
}

form .inner-form .input-field.third-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  color: #fff;
  border: 0;
  cursor: pointer;
  background: #d82a4e;;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  outline: none;
}

form .inner-form .input-field.third-wrap .btn-search:hover {
  background: #50c058;
}