/* Quick css for presentation */
.navigation{
  position:relative;
  height: 9vh;
  padding:0 15px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__logo a{
  text-decoration:none;
}
.navigation__logo p{
  color:#fc3c64;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation__links{
  position: fixed;
  width:300px;
  height:100vh;
  left:-1000px;
  top:0;
  z-index:2;
  transition: left 0.3s ease-in;
  background:#f8f8f8;
  color:#000;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navigation__links li{
  padding: 5px 10px;
  text-align:center;
  border-bottom:1px solid rgba(255,255,255, 0.3);
}
.navigation__links a{
  color: rgb(95, 93, 93);
  text-decoration:none;  
}

#hamburger{
  visibility:hidden;
}
.navigation__button{
  position:relative;
  display: inline-block;
  width: 30px;
  height:30px;
  background:transparent;
  border:1px solid #fff;
  cursor:pointer;
}
.navigation__button span{
  position:absolute;
  left: 5px;
  display:inline-block;
  width:20px;
  height:1px;
  background-color: #000;
  transform-origin:center;
  transition: opacity 0.2s linear, all 0.3s linear;
}
.navigation__button span:nth-of-type(1){
  top: 10px;
}
.navigation__button span:nth-of-type(2){
  top: 15px;
}
.navigation__button span:nth-of-type(3){
  top: 20px;
}


/* Here comes the magic */

#hamburger:checked ~ .navigation__links{
  /* Or it can be "input[type="checkbox"] ~ .navigation__links" */
  left:0;
}

/* Styles for our "close" button */
#hamburger:checked ~ .navigation__button span:nth-of-type(1){
  transform: rotate(45deg);
  top: 15px;
}
#hamburger:checked ~ .navigation__button span:nth-of-type(2){
  opacity:0;
}
#hamburger:checked ~ .navigation__button span:nth-of-type(3){
  transform: rotate(-45deg);
  top: 15px;
}