header {
  width: 100%;
  display: inline-block;
  background-color: #fff;
}

.hamburger {
  height: 20px;
  width: 20px;
  padding: 20px;
  float: right;
  cursor: pointer;
}
.hamburger:before {
  content: "";
  display: block;
  background-color: #000;
  width: 100%;
  height: 4px;
}
.hamburger:after {
  content: "";
  display: block;
  background-color: #000;
  width: 100%;
  height: 4px;
  margin-top: 4px;
  box-shadow: 0px 8px 0 #000;
}

nav {
  background-color: #2b2b2b;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  clear:both;
  transition: max-height .3s cubic-bezier(0.63, 0, 0.25, 1);;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
nav li {
  display: block;
  margin: 0;
  text-align: center;
}
nav a {
  color: white;
  display: block;
  padding: .4em;
}

header input[type="checkbox"]:checked ~ nav {
  max-height: 150px;
  border-bottom: #404040 5px solid;
}

header a:hover,
header a:focus,
header label:hover,
header label:focus {
  background-color: #191919;
}

// @media (min-width: 700px) {
//   .hamburger {
//     display: none;
//   }
//   nav {
//     background: transparent;
//     float: right;
//     border: 0 !important;
//     max-height: none;
//   }
//   nav ul, nav li, nav li a {
//     display: inline-block;
//   }
//   nav a {
//     display: inline-block;
//     padding: 15px 1em;
//   }
// }

.hidden {
  position: fixed;
  top: -100%;
  left: -100%;
}