.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  background-color: #fff;
}

.options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option {
  margin: 0 2px;
  padding: 10px 0;
}

.options input, span button {
  margin: 0 2px;
  padding: 10px 0;
}

.options input {
    width: 40%;
    outline: none;
    padding-left: 1em;
}

.option button {
    font-size: 15px;
    margin: 0 2px;
    padding: 11px 22px;
    background-color: #ec5252;
    border: none;
}